extends layout

block content
  h1= title
  p Welcome to #{title}

  h1="WebSocket クライアント"
  input(type="text" id="messageInput" placeholder="メッセージを入力")
  button(onclick="sendMessage()")= "送信"
  div(id="messages")

  script(src="./javascripts/chat.js")
